<div class="container mt-5">
    <div *ngIf="!registerMode" style='text-align: center;'>
        <img src="./assets/hearts.png" alt='hearth' height="250" width="250"/>
        <h1>Find your match</h1>
        <p class="lead">There really is something for everyone on Likebook. Want to get into a relationship? You got it. Trying to find some new friends? Say no more. New kid on campus and looking to make the most of your college experience? Likebook U’s got you covered. Likebook isn’t your average dating site — it’s the most diverse dating app, where adults of all backgrounds and experiences are invited to make connections, memories, and everything in between.</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
            </div>
        </div>
    </div>
</div>